@charset "UTF-8"; /*Regra para o padrão UTF-8*/
h1{
    background-color: black;    
    border-radius: 10px;
    box-shadow: 4px 4px 5px #5e5449;
    text-align: center;
    color: #F8DCBF;
    padding: 7px;
    margin: auto;
}
h2{
    background-color: #001F3D; 
    border-radius: 10px;
    box-shadow: 4px 4px 5px #5e5449;
    text-align: center;
    color: #F8DCBF;
    padding: 7px;
    margin: auto;
}
mark{
    background-color: aquamarine;
}
body{
    background-color:#F8DCBF ;
}

li{
    
    text-align: center;
    color:#001F3D;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #000000;
    border-radius: 10px;
    padding: 10px;
    color: #F8DCBF;
    text-align: justify;
}
ul{
    list-style:none;
    padding: 10px;
    margin: 10px;
}
ol{    
    list-style:none;
    padding: 10px;
    margin: 10px;
}
a{
    color:#001F3D;
}